@model RoutingProject.Models.ViewModels.UserView
@{
	ViewBag.Title = "Register";
	Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>

@using (Html.BeginForm("Register", "User", FormMethod.Post, new {@class = "form-horizontal"})) {
	<fieldset>
		<div class="control-group">
			<label class="control-label" for="Email">
				Email
			</label>
			<div class="controls">
				@Html.ValidationMessage("Email")
				@Html.TextBox("Email", Model.Email, new {id="Email"})
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="Password">
				Password
			</label>
			<div class="controls">
				@Html.ValidationMessage("Password")
				@Html.Password("Password", Model.Password, new { id = "Password" })
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="ConfirmPassword">
				Confirm Password
			</label>
			<div class="controls">
				@Html.ValidationMessage("ConfirmPassword")
				@Html.Password("ConfirmPassword", Model.ConfirmPassword, new { id = "ConfirmPassword" })
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="BirthdateDay">
				Birth date
			</label>
			<div class="controls">
				@Html.DropDownList("BirthdateDay", Model.BirthdateDaySelectList)
				@Html.DropDownList("BirthdateMonth", Model.BirthdateMonthSelectList)
				@Html.DropDownList("BirthdateYear", Model.BirthdateYearSelectList)
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="FirstName">
				Captcha
			</label>
		</div>
		<div class="control-group">
			<label class="control-label" for="FirstName">
				<img src="@Url.Action("Captcha", "User")" alt="captcha" />
			</label>
			<div class="controls">
				@Html.ValidationMessage("Captcha")
				@Html.TextBox("Captcha", Model.Captcha)
			</div>
		</div>

		<div class="form-actions">
			<button type="submit" class="btn btn-primary">
				Register
			</button>
			<a href="@Url.Action("Cancel", "Index")" class="btn"></a>
		</div>
	</fieldset>
}